small {
  color: #3C3C3B;
}

.mycontent-left {
  border-left: 2px solid #E84E0F;
}

 .row {
   max-width: 100%;
 }

div {
  margin-bottom: 0;
}

.btn-size {
  padding: 7px;
  width: 130px;
}

textarea {
resize: none;
height: 80px;
width: 100%;
}

.email-img {
  max-height: 35px;
  max-width: 100%;
}

a {
  color: #3C3C3B;
}

.contato {
  color: grey;
  font-weight: bold;
}
