<h3>anunciarep</h3>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Nome da Republica</label>
    <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="modelo.nome" placeholder="Nome da Republica" name="nome">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Telefone</label>
    <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="modelo.telefone" placeholder="Telefone" name="telefone">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Bairro</label>
    <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="modelo.bairro" placeholder="Bairro" name="bairro">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Descrição</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="modelo.descricao" rows="3" name="descricao"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Vagas disponiveis</label>
    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="modelo.vagas" name="vagas">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Valor</label>
    <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="modelo.valor" placeholder="Nome da Republica" name="valor">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" name="senha">
  </div>

  <button type="submit" (click)="salvar()" class="btn btn-primary">Entrar</button>
</form>
