<h3>anunciarep</h3>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Nome da Republica</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome da Republica">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Telefone</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Telefone">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Bairro</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Bairro">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Descrição</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Vagas disponiveis</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Valor</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome da Republica">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Telefone">
  </div>

  <button type="submit" class="btn btn-primary">Entrar</button>
</form>
