<h2>matches</h2>
<span class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 p-0 float-md-right ">
      <!-- Primeiro match -->
      <div class="card float-right card-columns m-4">
        <div class="row align-self-center content">
          <div class="card-body col-md-4 form-group mb-0 col-xs-6">
            <img src="https://scontent.fcgh11-1.fna.fbcdn.net/v/t1.0-9/14908224_1874132076140142_6196036043697297845_n.png?oh=d9cd2ab3bcade8ea9d9ef36c200801e5&oe=5A6EDCEB" alt="" class="repmatchedimg float-md-left img-fluid">
          </div>
          <div class="card-body col-md-5 px-0 pb-0 col-xs-6">
            <p class="orangecolor mb-0">nome</p>
            <p class="card-text mb-0">endereço</p>
            <p class="card-text">valor</p>
          </div>
          <div class="card-body col-3 float-right col-xs-4 d-none d-sm-block">
            <img src="https://openclipart.org/image/2400px/svg_to_png/243661/1457652300.png" alt="" class="matchimagem float-md-right">
          </div>
          <div class="card-body col pt-0 d-sm-block">
            <a href="#" class="btn btn-primary" id="botao">ver mais</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Segundo match -->
    <div class="col-md-6 col-sm-12 float-md-left p-0">
      <div class="card card-columns m-4">
        <div class="row align-self-center content">
          <div class="card-body col-md-4 form-group mb-0 col-xs-6">
            <img src="https://scontent.fcgh11-1.fna.fbcdn.net/v/t1.0-9/14908224_1874132076140142_6196036043697297845_n.png?oh=d9cd2ab3bcade8ea9d9ef36c200801e5&oe=5A6EDCEB" alt="" class="repmatchedimg float-md-left">
          </div>
          <div class="card-body col-md-5 px-0 pb-0 col-xs-6">
            <p class="orangecolor mb-0">nome</p>
            <p class="card-text mb-0">endereço</p>
            <p class="card-text">valor</p>
          </div>
          <div class="card-body col-3 float-right col-xs-4 d-none d-sm-block">
            <img src="https://openclipart.org/image/2400px/svg_to_png/243661/1457652300.png" alt="" class="matchimagem float-md-right">
          </div>
          <div class="card-body col pt-0">
            <a href="#" class="btn btn-primary " id="botao">ver mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Terceiro match -->
  <div class="row">
    <div class="col-md-6 col-sm-12 p-0 float-md-right ">
      <div class="card float-right card-columns m-4">
        <div class="row align-self-center content">
          <div class="card-body col-md-4 form-group mb-0 col-xs-6">
            <img src="https://scontent.fcgh11-1.fna.fbcdn.net/v/t1.0-9/14908224_1874132076140142_6196036043697297845_n.png?oh=d9cd2ab3bcade8ea9d9ef36c200801e5&oe=5A6EDCEB" alt="" class="repmatchedimg float-md-left img-fluid">
          </div>
          <div class="card-body col-md-5 px-0 pb-0 col-xs-6">
            <p class="orangecolor mb-0">nome</p>
            <p class="card-text mb-0">endereço</p>
            <p class="card-text">valor</p>
          </div>
          <div class="card-body col-3 float-right col-xs-4 d-none d-sm-block">
            <img src="https://openclipart.org/image/2400px/svg_to_png/243661/1457652300.png" alt="" class="matchimagem float-md-right">
          </div>
          <div class="card-body col pt-0 d-sm-block">
            <a href="#" class="btn btn-primary" id="botao">ver mais</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Quarto match -->
    <div class="col-md-6 col-sm-12 float-md-left p-0">
      <div class="card card-columns m-4">
        <div class="row align-self-center content">
          <div class="card-body col-md-4 form-group mb-0 col-xs-6">
            <img src="https://scontent.fcgh11-1.fna.fbcdn.net/v/t1.0-9/14908224_1874132076140142_6196036043697297845_n.png?oh=d9cd2ab3bcade8ea9d9ef36c200801e5&oe=5A6EDCEB" alt="" class="repmatchedimg float-md-left">
          </div>
          <div class="card-body col-md-5 px-0 pb-0 col-xs-6">
            <p class="orangecolor mb-0">nome</p>
            <p class="card-text mb-0">endereço</p>
            <p class="card-text">valor</p>
          </div>
          <div class="card-body col-3 float-right col-xs-4 d-none d-sm-block">
            <img src="https://openclipart.org/image/2400px/svg_to_png/243661/1457652300.png" alt="" class="matchimagem float-md-right">
          </div>
          <div class="card-body col pt-0">
            <a href="#" class="btn btn-primary " id="botao">ver mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>
