h2 {
  color: #E84E0F;
  text-align: center;
  padding: 45px 0;
  font-weight: bold;
  font-size: 45px;
}

.card {
  border-color: #3C3C3B;
  border-radius: 0;
}

.repmatchedimg {
  // height: 90px;
  // width: 110px;
  max-height: 200px;
  max-width: 100%;
}

.matchimagem {
height: 80px;
width: 80px;
}

.orangecolor {
  color: #E84E0F;
}

#botao {
  background-color: #E84E0F;
  color: white;
  border-color: #E84E0F;
  padding: 7px;
  width: 130px;
  border-radius: 0;
}

.content {
  width: 90%;
}

.row {
  max-width: 100%;
}


@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
    .card {
      width: 70%;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}
