.card-img-top{
  width: 100%;
  height: 30vh;
}

.btn-visualizar{
  background-color: #E24D2B;
  color: white;
}

.card-footer{
  background-color: #ffffff;
  border: 0;
}

li{
  list-style: none;
}

.labelNome{
  color: #E24D2B;
  font-weight: 500;
}
