.card-footer{
  background-color: #ffffff;
  border: 0;
}

li{
  list-style: none;
}

<<<<<<< HEAD
.imgModal{
  height: 35vh;
=======
.imgModal {
  max-height: 300px;
  width: 100%;
>>>>>>> e310e05b5ad7cca4c887bf093562f30d7098e90b
}
