
<section class="card-section">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-lg-4 col-xl-4 mt-3 col-float">
      <div class="card">
        <img class="card-img-top" src="https://scontent.fcgh11-1.fna.fbcdn.net/v/t1.0-9/14908224_1874132076140142_6196036043697297845_n.png?oh=d9cd2ab3bcade8ea9d9ef36c200801e5&oe=5A6EDCEB" alt="Card image cap">
        <div class="card-body">
          <ul class="card-text p-0">
            <li>
              <span class="labelNome">Nome: </span>República Carvalho
            </li>
            <li>
              <span>Endereço: </span>R. Dona Germaine Burchard, 632 - Água Branca
            </li>
            <li>
              <span>Valor: </span>500,00
            </li>
          </ul>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-visualizar">Visualizar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 mt-3">
      <div class="form-group">
        <label for="enderecoBusca">Digite o Endereço</label>
        <div class="input-group">
          <input type="text" class="form-control" id="enderecoBusca" placeholder="Rua exemplo, 01">
          <span class="input-group-addon" id="basic-addon2">@example.com</span>
        </div>
      </div>
    </div>
  </div>
</section>
