.menu-links li{
  color: #3C3C3B;
  text-align: center;
  padding: 20px 34px;
  text-decoration: none;
  font-weight: 700;
  font-size: 23px;
  list-style-type: none;
  display: inline-block;
  float: right;
  vertical-align: middle;;
}

a.nav-link:visited, a.menu:link {
  text-decoration: none;
  color: #3C3C3B}


.nav-link{
  font-weight: 700;
  font-family: 'open sans';
}


.nav-item{
  a:hover, a:active{
    color: #E84E0F;
  }
}
