.menu-links li{
  color: #3C3C3B;
  text-align: center;
  padding: 20px 34px;
  text-decoration: none;
  font-weight: 700;
  font-size: 23px;
  list-style-type: none;
  display: inline-block;
  float: right;
  vertical-align: middle;;
}

a.menu:visited, a.menu:link {
  text-decoration: none;
  color: #3C3C3B}
a.menu:hover, a.menu:active {
  text-decoration:none;
  color: #E84E0F;
}
