<div class="nav-wrapper-menu">
  <div class="logo-repmatch">
    <img src="assets/images/logo-3.jpg"/>
  </div>
  <div class="menu-links">
    <ul class="links-repmatch">
      <li><a class="menu" href="#ajuda-rep">ajuda</a></li>
      <li><a class="menu" href="#anunciar-rep">anunciar-rep</a></li>
      <li><a class="menu" href="#matches-rep">matches</a></li>
      <li><a class="menu" href="#entrar-rep">entrar</a></li>
      <li><a class="menu" href="#buscar-rep">buscar-rep</a></li>
    </ul>
  </div>
</div>
