@import "cores";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Open Sans', sans-serif;
}

.container{
  padding-top: 15vh;
  padding-bottom: 20vh;
}

.titleOrange {
  color: $theme-button-orange;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}


.btn-repmatch{
  background-color: $theme-button-orange;
  color: white;
  border-color: $theme-button-orange;
}

.btn-repmatch:hover {
  background-color: #3C3C3B;
  border-color: #3C3C3B;
}


.labelNome{
  color: #3C3C3B;
  font-weight: 700;
}

.card-img-repmatch{
  width: 100%;
  height: 35vh;
}

.card-img-repmatch-matches{
  width: 100%;
}

h2 {
  font-weight: 700;
  color: #E84E0F;
}
